{% extends 'base.html.twig' %}

{% block title %}ITEA News Portal | Contact us{% endblock %}

{% block main %}
    <main role="main" class="page-contact_us">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Contact us</h1>
                <p class="lead text-muted"></p>
                <p>
                    <a href="#contact_us_form" class="btn btn-primary my-4">
                        Contact support
                    </a>
                </p>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="card col-md-12 shadow-sm" id="contact_us_form">
                        <div class="row">
                            <div class="col col-md-6 card-body">
                                <h3>Phone</h3>
                                <p>{{ page.getPhone }}</p>
                                <h3>Email</h3>
                                <p><a href="mailto:{{ page.getEmail }}">{{ page.getEmail }}</a></p>
                                <h3>Address</h3>
                                <p>{{ page.getAddress }}</p>
                            </div>
                            <div class="col col-md-6 card-body dark-side">
                                <h3>Feedback Form</h3>
                                <div class="feed-back-form">
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Map section-->
        <section>
            <div class="row">

                <div class="col-md-12 shadow-sm nopadding">
                    <div id="map"></div>
                </div>
            </div>
        </section>
        <!--Map section end-->
    </main>

    <script>
        function initMap() {
            var latLng = {lat: 50.451003, lng:  30.446961};
            (new google.maps.Marker({
                position: latLng,
                map: (new google.maps.Map(
                    document.getElementById('map'),
                    {zoom: 15, center: latLng}
                ))
            }));
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAcuMSfNoY3IW3bk-xDH5-QECUG21uQIs&callback=initMap">
    </script>
{% endblock %}
